@import "_mediaqueries";
@import "_variables";
@import "_mixins";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @include flexCenter(center, center);

  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

#header {
  height: fit-content;

  position: absolute;
  top: 0;

  width: 100%;

  & #textContainer {
    display: flex;
    position: relative;
    margin: 10px;

    p {
      color: white;
      margin: 0 10px;
      align-self: center;
    }

    & p:first-child {
      color: rgb(0, 174, 255);
      font-size: 1.75rem;
      margin-right: 25px;
    }

    & .circle {
      // width: 20px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #1a9fff;

      align-self: center;
    }
  }
}

#middle {
  // @include absoluteCenter;
  text-align: center;

  h1 {
    color: white;
    align-self: center;
    font-size: 5em;
  }

  button {
    color: white;
    background-color: rgb(0, 174, 255);
    border-radius: 20px;
  }
}
